In [1]:
# import dependency
import pandas as pd

In [2]:
# importfiles
file_47=pd.read_csv("citi_data/201704-citibike-tripdata.csv")
file_48=pd.read_csv("citi_data/201705-citibike-tripdata.csv")
file_49=pd.read_csv("citi_data/201706-citibike-tripdata.csv")
file_50=pd.read_csv("citi_data/201707-citibike-tripdata.csv")
file_51=pd.read_csv("citi_data/201708-citibike-tripdata.csv")
file_52=pd.read_csv("citi_data/201709-citibike-tripdata.csv")
file_53=pd.read_csv("citi_data/201710-citibike-tripdata.csv")
file_54=pd.read_csv("citi_data/201711-citibike-tripdata.csv")
file_55=pd.read_csv("citi_data/201712-citibike-tripdata.csv")
file_56=pd.read_csv("citi_data/201801-citibike-tripdata.csv")
file_57=pd.read_csv("citi_data/201802-citibike-tripdata.csv")
file_58=pd.read_csv("citi_data/201803-citibike-tripdata.csv")
file_59=pd.read_csv("citi_data/201804-citibike-tripdata.csv")
file_60=pd.read_csv("citi_data/201805-citibike-tripdata.csv")
file_61=pd.read_csv("citi_data/201806-citibike-tripdata.csv")
file_62=pd.read_csv("citi_data/201807-citibike-tripdata.csv")
file_63=pd.read_csv("citi_data/201808-citibike-tripdata.csv")
file_64=pd.read_csv("citi_data/201809-citibike-tripdata.csv")
file_65=pd.read_csv("citi_data/201810-citibike-tripdata.csv")
file_66=pd.read_csv("citi_data/201811-citibike-tripdata.csv")
file_67=pd.read_csv("citi_data/201812-citibike-tripdata.csv")
file_68=pd.read_csv("citi_data/201901-citibike-tripdata.csv")
file_69=pd.read_csv("citi_data/201902-citibike-tripdata.csv")
file_70=pd.read_csv("citi_data/201903-citibike-tripdata.csv")
file_71=pd.read_csv("citi_data/201904-citibike-tripdata.csv")
file_72=pd.read_csv("citi_data/201905-citibike-tripdata.csv")
file_73=pd.read_csv("citi_data/201906-citibike-tripdata.csv")
file_74=pd.read_csv("citi_data/201907-citibike-tripdata.csv")
file_75=pd.read_csv("citi_data/201908-citibike-tripdata.csv")
file_76=pd.read_csv("citi_data/201909-citibike-tripdata.csv")
file_77=pd.read_csv("citi_data/201910-citibike-tripdata.csv")
file_78=pd.read_csv("citi_data/201911-citibike-tripdata.csv")
file_79=pd.read_csv("citi_data/201912-citibike-tripdata.csv")
file_80=pd.read_csv("citi_data/202001-citibike-tripdata.csv")
file_81=pd.read_csv("citi_data/202002-citibike-tripdata.csv")

In [24]:
# concatenate files
combined=[file_47,file_48,file_49,file_50,file_51,file_52,file_53,file_54,file_55,file_56,file_57,file_58,file_59,file_60,file_61,
         file_62,file_63,file_64,file_65,file_66,file_67,file_68,file_69,file_70,file_71,file_72,file_73,file_74,file_75,file_76,
         file_77,file_78,file_79,file_80,file_81]
citi_data =pd.concat(combined)
citi_data

In [25]:
# drop null values
citi_data.dropna(how='any',inplace=True)
citi_data

In [26]:
citi_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,195,2017-04-01 00:00:58,2017-04-01 00:04:14,217.0,Old Fulton St,40.702772,-73.993836,430.0,York St & Jay St,40.701485,-73.986569,25454,Subscriber,1966.0,1
1,585,2017-04-01 00:01:54,2017-04-01 00:11:40,490.0,8 Ave & W 33 St,40.751551,-73.993934,3158.0,W 63 St & Broadway,40.771639,-73.982614,25930,Subscriber,1995.0,1
2,665,2017-04-01 00:01:56,2017-04-01 00:13:01,504.0,1 Ave & E 16 St,40.732219,-73.981656,412.0,Forsyth St & Canal St,40.715816,-73.994224,27110,Subscriber,1987.0,1
3,262,2017-04-01 00:02:24,2017-04-01 00:06:47,445.0,E 10 St & Avenue A,40.727408,-73.981420,411.0,E 6 St & Avenue D,40.722281,-73.976687,28392,Subscriber,1961.0,1
4,134,2017-04-01 00:02:36,2017-04-01 00:04:50,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,19316,Subscriber,1967.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146825,203,2020-02-29 23:58:48.0230,2020-03-01 00:02:11.6640,3737.0,Stanton St & Norfolk St,40.720747,-73.986274,317.0,E 6 St & Avenue B,40.724537,-73.981854,39094,Subscriber,1993.0,2
1146826,357,2020-02-29 23:58:52.5640,2020-03-01 00:04:50.5370,546.0,E 30 St & Park Ave S,40.744449,-73.983035,3463.0,E 16 St & Irving Pl,40.735367,-73.987974,40722,Subscriber,1966.0,2
1146827,169,2020-02-29 23:58:54.5820,2020-03-01 00:01:43.7770,3043.0,Lewis Ave & Decatur St,40.681460,-73.934903,3052.0,Lewis Ave & Madison St,40.686312,-73.935775,28696,Subscriber,1994.0,1
1146828,738,2020-02-29 23:58:58.8110,2020-03-01 00:11:17.7390,3255.0,8 Ave & W 31 St,40.750585,-73.994685,497.0,E 17 St & Broadway,40.737050,-73.990093,19975,Subscriber,1999.0,1
1146829,960,2020-02-29 23:59:35.6070,2020-03-01 00:15:35.6490,379.0,W 31 St & 7 Ave,40.749156,-73.991600,3744.0,1 Ave & E 5 St,40.725864,-73.986389,38651,Subscriber,1990.0,1

In [32]:
 #convert gender column into more descriptive values
citi_data['gender']=[i.replace('0','unknown') for i in citi_data['gender']]
citi_data['gender']=[i.replace('1','male') for i in citi_data['gender']]
citi_data['gender']=[i.replace('2','female') for i in citi_data['gender']]
citi_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,195,2017-04-01 00:00:58,2017-04-01 00:04:14,217.0,Old Fulton St,40.702772,-73.993836,430.0,York St & Jay St,40.701485,-73.986569,25454,Subscriber,1966.0,male
1,585,2017-04-01 00:01:54,2017-04-01 00:11:40,490.0,8 Ave & W 33 St,40.751551,-73.993934,3158.0,W 63 St & Broadway,40.771639,-73.982614,25930,Subscriber,1995.0,male
2,665,2017-04-01 00:01:56,2017-04-01 00:13:01,504.0,1 Ave & E 16 St,40.732219,-73.981656,412.0,Forsyth St & Canal St,40.715816,-73.994224,27110,Subscriber,1987.0,male
3,262,2017-04-01 00:02:24,2017-04-01 00:06:47,445.0,E 10 St & Avenue A,40.727408,-73.981420,411.0,E 6 St & Avenue D,40.722281,-73.976687,28392,Subscriber,1961.0,male
4,134,2017-04-01 00:02:36,2017-04-01 00:04:50,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,19316,Subscriber,1967.0,female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146825,203,2020-02-29 23:58:48.0230,2020-03-01 00:02:11.6640,3737.0,Stanton St & Norfolk St,40.720747,-73.986274,317.0,E 6 St & Avenue B,40.724537,-73.981854,39094,Subscriber,1993.0,female
1146826,357,2020-02-29 23:58:52.5640,2020-03-01 00:04:50.5370,546.0,E 30 St & Park Ave S,40.744449,-73.983035,3463.0,E 16 St & Irving Pl,40.735367,-73.987974,40722,Subscriber,1966.0,female
1146827,169,2020-02-29 23:58:54.5820,2020-03-01 00:01:43.7770,3043.0,Lewis Ave & Decatur St,40.681460,-73.934903,3052.0,Lewis Ave & Madison St,40.686312,-73.935775,28696,Subscriber,1994.0,male
1146828,738,2020-02-29 23:58:58.8110,2020-03-01 00:11:17.7390,3255.0,8 Ave & W 31 St,40.750585,-73.994685,497.0,E 17 St & Broadway,40.737050,-73.990093,19975,Subscriber,1999.0,male
1146829,960,2020-02-29 23:59:35.6070,2020-03-01 00:15:35.6490,379.0,W 31 St & 7 Ave,40.749156,-73.991600,3744.0,1 Ave & E 5 St,40.725864,-73.986389,38651,Subscriber,1990.0,male

In [ ]:
citi_data.loc('null')

In [33]:
# export dataframe into csv file
citi_data.to_csv("citi_data/combined_results.csv")

In [34]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect, func

In [37]:
# import dataframe into pgAdmin
# try to upload the data into database, but it is not working as data is too big for my computer to handle
dbname='citi_bike'
engine = create_engine(f'postgres://{username}:{password}@localhost/{dbname}')
connection=engine.connect()
citi_data.to_sql('citi_bike', engine)

MemoryError:

In [38]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [39]:
# tried another way hopipng it would work, but it is not working....
dbname='citi_bike'
engine = create_engine(f'postgres://{username}:{password}@localhost/{dbname}')

citi_data.head(0).to_sql('citi_bike', engine, if_exists='replace',index=False) #truncates the table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
citi_data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output,'citi_bike', null="") # null values become ''
conn.commit()

QueryCanceled: COPY from stdin failed: error in .read() call
CONTEXT:  COPY citi_bike, line 1

In [42]:
# last attempt, it failed again due to the size of data
import csv
from io import StringIO

from sqlalchemy import create_engine

def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

dname='citi_bike'
engine = create_engine(f'postgres://{username}:{password}@localhost/{dbname}')
citi_data.to_sql('bike', engine, method=psql_insert_copy)

MemoryError: Unable to allocate array with shape (7, 53084364) and data type bool